@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'poppins', sans-serif;
    color: white;
    background: linear-gradient(168.44deg, #2e335a 1.62%, #1c1333 95.72%);
}

.app {
    padding: 10px;
}

.app-container {
    max-width: 600px;
    margin: auto;
}

.header {
    padding: 20px 0px;
}

.header h1 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 2px;
}

.footer {
    width: 100%;
    text-align: center;
}

.search-section {
    margin-top: 20px;
}

.search-container {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    background: linear-gradient(168.44deg, #2e335a 1.62%, #1c1333 95.72%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0, 0.25);
    border-radius: 5px;
}

.search-container svg {
    width: 22px;
    height: 22px;
}

.search-container input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0px  10px;
    color: white;
    font-size: 16px;
}

.weather-section {
    margin-top: 50px;
    padding: 10px;
}

.weather-card {
    width: 100%;
    min-height: 184px;
    background: linear-gradient(90deg, #5936b4 0%, #362a84 103.55%);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.weather-temp-c {
    font-size: 64px;
    font-weight: 400;
}

.weather-info {
    display: flex;
    gap: 16px;
    align-items: center;
    color: #bbbbbb;
}

.weather-place {
    font-size: 22px;
}

.weather-avatar {
    position: absolute;
    top: -60px;
    right: -15px;
}



